:root {
    --navbar-height: 58px;
    --white:#fff;
    --black:#000;
    --blue:rgb(35,102,246);
    --skyBlue:rgb(90,143,220);
    --navy:rgb(26,31,39);
    --navy2: rgb(47,67,108);
    --gray: rgb(177,184,192);
    --red: rgb(231, 101, 90);
    --gray2: rgb(252, 252, 252);
    --gray3:rgb(238,238,238);
    --wetube: rgba(234, 50, 30, 0.9);
    --movie-app-text: rgb(129,216, 247);
    --movie-app-back:rgb(25,25,25);
    --nwitter:rgb(73,115,228);
}
html, body{
    font-family: 'Source Sana Pro';
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
}
ul li {
    list-style: none;
    text-decoration: none;
}
a{
    color: var(--black);
    outline-style: none;
    text-decoration: none;
}
ul li h1{
    margin:0;
    padding:0;
}
button{
    border:0;
    outline: 0;
    cursor: pointer;
    background-color: transparent;
}
.warp{
    display: flex;
    flex-direction: column;
    height: 100%;
}


/*header*/
.header-class{
    top:0;
    left:0;
    right:0;
    width:100%;
    z-index:100;
    position:fixed;
    background-color:var(--white);
}
.header_wrap{
    display: flex;
    padding: 8px 12px; 
    justify-content: space-between;
}
.header_title{
    padding-top: 10px;
    margin: 0;
    font-size: 14px;
}
.gnb{
    font-size: 18px;
}
.main_menu{
    display: none;
}
.gnb_list{
    margin:0;
    padding-left:0;
    display: flex;
}
.gnb_list li{
    padding:8px 12px;
}
.gnb_list li>a:hover{
    color: var(--blue);
}
.btn_hamburger{
    right:32px;
    position: absolute;
}
@media screen and (max-width: 870px){
    .header_wrap{
        flex-direction: column;
        align-items: flex-start;
    }
    .gnb{
        width: 100%;
        display: none;
    }
    .gnb_list{
        flex-direction: column;
    }
    .gnb_list li{
        text-align: center;
    }    
    #burger_icon{
        display: block;
    }
    #close_icon{
        display: none;
    }

    .gnb.active, #close_icon.active{
        display: block;
    }
    #burger_icon.active{
        display: none;
    }

}
@media (min-width: 870px){
    .btn_hamburger{
        display: none;
    }
}

/*content*/
.content-class{
    flex:1;
}
.content-class section{
    display:none;
    padding-top: var(--navbar-height);
}
.content-class .content:first-child {
    display: block;
}
.content_title{
    display: none;
}
.content_title2{
    width:100%;
    text-align: center;
}
.content_title2 span{
    font-weight: bold;
    font-size: 45px;
}
.container{
    padding: 100px 10px;
}
/**home content**/
.home{
    width:100%;
}
.home .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_right{
    width:600px;
    height:500px;
    margin:0 auto;
    background: url(../image/gyg_4.png) no-repeat center/64%;
    background-size: cover;
}
.home_left{
    width:50%;
    height:250px;
    text-align: center;
    margin: 0 auto;
    padding-top:150px;
}

/**profile content**/
.profile{
    width:100%;
}
.profile .container{
    width: 100%;
    display: flex;
    flex-direction:column;
}
.introduce{
    text-align: center;
    margin:0 auto;
    padding:30px 0;
}
.front_skills{
    width: 100%;
}
.front_skills h3{
    padding:0 50px;
}
.back_skills h3{
    padding:0 50px;
}
.skill_block{
    display: flex;
    flex-wrap: wrap;
    padding: 0 55px;
    
}
.skill_block div{
    padding:35px;
    text-align: center;
}
.skill_block span{
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}
.line{
    width:95%;
    margin:0 auto;
    border-bottom: 1px solid var(--gray);
}
.html5{
    background: url(../image/html.png) no-repeat center/84%;
}
.css3{
    background: url(../image/css.png) no-repeat center/84%;
}
.js{
    background: url(../image/javascript.png) no-repeat center/64%;
}
.pug{
    background: url(../image/pug.png) no-repeat center/100%;
}
.sass{
    background: url(../image/sass__icon.png) no-repeat center/150%;
}
.react{
    background: url(../image/react_icon.png) no-repeat center/150%;
}
.nodeJS{
    background: url(../image/nodeJS.png) no-repeat center/99%;  
}
.express{
    background: url(../image/Express.png) no-repeat center/110%;  
}
.mongoDB{
    background: url(../image/mongoDB.png) no-repeat center/99%;  
}
@media (max-width: 1210px){
    .container{
        padding: 50px 0;
    }
    .home .container{
        flex-direction: column;
    }
    .home_right{
        height:480px;
        background-size: cover;
    }
    .home_left{
        padding-top: 15px;
    }
}

/**projects content**/
.project{
    width: 100%;
}
.project_block{
    width:100%;   
}
.project_block ul{
    margin:0;
    display: flex;
    flex-wrap: wrap;
    padding: 8px 12px; 
    justify-content: center
}
.project_block ul li{
    width: 415px;
    height:280px;
    padding: 10px 12px;
    text-align: center;
}
.project_title{
    width:100%;
    height:100px;
    padding-top:60px;
    font-size: 30px;
    color:var(--white);
    border:1px solid var(--navy2);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: var(--navy2);
    box-shadow: 2px 1px 10px 1px rgba(0,0,0,0.1);
}
.project_review{
    display:flex;
    flex-direction: column;
    width:100%;
    height:80px;
    font-size: 16px;
    border:1px solid var(--gray2);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: var(--gray2);
    box-shadow: 2px 1px 10px 1px rgba(0,0,0,0.1);
}
.project_txt{
    margin: 7px 0;
}
.project_button{
    margin-top: 12px;
}
.project_button a{
    margin: 0 4px;
    padding: 8px 20px;
    cursor: pointer;
    border: 1px solid var(--gray3);
    border-radius: 20px;
    background-color: var(--gray3);
}
.wetube{
    background-color: var(--wetube);
    border: 1px solid var(--wetube);
}
.movie-app{
    color: var(--movie-app-text);
    background-color: var(--movie-app-back);
    border: 1px solid var(--movie-app-back);
}
.nwitter{
    background-color: var(--nwitter);
    border: 1px solid var(--nwitter);
}
/**contact content**/
.contact{
    width:100%;
}
.contact_form{
    display: flex;
}
.contact_left{
    width: 50%;
    flex-direction: column;
}
.contact_left div{
    padding:15px;
    text-align: center;
}
.contact_left span{
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}
.contact_left p{
   margin: 0;
   font-size: 15px;
}
.contact_right{
    width: 50%;
}
.form_top{
    width: 520px;
    margin:0 auto;
    padding: 5px 5px;
}
.form_top input{
    width:252px;
    height:30px;
    margin:0;
    padding:0;
    display: inline-block;
}
.form_middle{
    width: 520px;
    margin: 0 auto;
    padding: 5px 5px;
}
.form_middle input{
    width: 92%;
    height: 250px;
    text-align: top;
}
.form_middle textarea{
    resize: none;
    font-family: 'Source Sana Pro';
    font-size: 15px;
}
.form_bottom{
    width:20%;
    height:50px;
    margin: 0 auto;
}
.form_bottom button{
    width:100%;
    height:100%;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    color: var(--white);
    background-color: var(--skyBlue);
    border: 1px solid var(--skyBlue);
    border-radius: 50px;
}
.email{
    background: url(../image/email.png) no-repeat center/64%;
}
.phone{
    background: url(../image/phone.png) no-repeat center/64%;
}
.github{
    background: url(../image/github.png) no-repeat center/64%;
}
@media (max-width:1210px){
    .contact_form{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .contact_left{
        width: 100%;
    }
    .contact_right{
        width: 100%;
        padding-top:20px;
    }
}

/*
.contact_form{
    width:80%;
    height:500px;
    margin:0 auto;
    border:1px solid var(--white);
    border-radius: 30px;
    background-color: var(--white);
    box-shadow: 2px 1px 10px 1px rgba(0,0,0,0.1);
}
.input_form {
    width:60%;
    height:250px;
    margin:0 auto;
    padding:40px 0;
}
.input_form input{
    width: 100%;
    margin: 20px 0;
    background: rgba(0,0,0,0);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:  1px solid var(--black);
}
::-webkit-input-placeholder{
    color: #000000;
    font-size: 16px;
    letter-spacing: 1px;
}
.send_btn{
    width:20%;
    height:50px;
    margin: 0 auto;
}
.send_btn button{
    width:100%;
    height:100%;
    font-size: 18px;
    text-align: center;
    border: 1px solid var(--black);
    border-radius: 20px;
}*/
/*footer*/
footer{
    width: 100%;
    padding: 40px 0;
    background-color: var(--navy);
    color: var(--gray);
}

