<div class = "container">
    <nav id="gnb">
        <h1>
            <a href="/">Hello, Portfolio World</a>
        </h1>
        <ul class = "gnb_menu">
            <li class="btn">
                <a href="/">Home</a>
            </li>
            <li class="btn">
                <a href="/profile">Profile</a>
            </li>
            <li class="btn">
                <a href="/project">Project</a>
            </li>
            <li class="btn">
                <a href="/contact">contact</a>
            </li>
        </ul>
    </nav>
</div>