<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="./js/script.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <link rel='stylesheet' type="text/css" href='/stylesheets/home.css' />

    <title>Portfolio</title>
</head>
<body>
    <header class="header-class">
        <div class="header_wrap">
            <h1 class="header_title">
                    <a href="#">Hello, Portfolio World</a>
            </h1>
            <nav class="gnb">
                <h2 class="main_menu">메인메뉴</h2>
                <ul class = "gnb_list">
                    <li class="btn">
                        <a href="#home" data-tabnum="0">Home</a>
                    </li>
                    <li class="btn">
                        <a href="#profile" data-tabnum="1">Profile</a>
                    </li>
                    <li class="btn">
                        <a href="#project" data-tabnum="2">Project</a>
                    </li>
                    <li class="btn">
                        <a href="#contact" data-tabnum="3">contact</a>
                    </li>
                </ul>
            </nav>
            <div class="btn_hamburger">
                <button id="burger_icon">
                    <!--icon url: https://icons8.com/icons/set/x-->
                    <img src="/image/hamburger2.png" width="30" height="30">
                </button>
                <button id="close_icon">
                    <img src="/image/close.png" width="30" height="30">
                </button>
            </div>
            <div class="hamburger_slide" id="hamburger_slide">
                <nav class="inner_gnb">
                    <h2 class="main_menu">메인메뉴</h2>
                    <ul>
                        <li class="btn">
                            <a href="#home" data-tabnum="0">Home</a>
                        </li>
                        <li class="btn">
                            <a href="#profile" data-tabnum="1">Profile</a>
                        </li>
                        <li class="btn"> 
                            <a href="#project" data-tabnum="2">Project</a>
                        </li>
                        <li class="btn">
                            <a href="#contact" data-tabnum="3">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    
    <content>
        <section>
            <div>
                <span>Home</span>
            </div>
            <div>
                추후 title 사진 및 txt로 변경 예정
            </div>
        </section>

        <section>
            <div>
                <span>Profile</span>
            </div>
            <div>
                <h3>Frontend</h3>
                <div>
                    <div>
                        <img src="/image/html.png">
                    </div>
                    <div>
                        <img src="/image/css.png">
                    </div>
                    <div>
                        <img src="/image/javascript.png">
                    </div>
                    <div>
                        <img src="/image/pug.png">
                    </div>
                </div>
            </div>
            <div>
                <h3>Backend</h3>
                <div>
                    <div>
                        <img src="/image/nodeJS.png">
                    </div>
                    <div>
                        <img src="/image/express.png">
                    </div>
                    <div>
                        <img src="/image/mongoDB.png">
                    </div>
                </div>
            </div>
        </section>
        
        <section>
            <div>
                <span>Projects</span>
            </div>
            <div>
                <ul>
                    <li>
                        <div>
                            <em>Wetube</em>
                        </div>
                        <div>
                            <span>프로젝트 한줄 설명</span>
                            <div>
                                <a>View</a>
                                <a>Github</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <em>Toy Project1</em>
                        </div>
                        <div>
                            <span>프로젝트 한줄 설명</span>
                            <div>
                                <a>View</a>
                                <a>Github</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <em>Toy Project2</em>
                        </div>
                        <div>
                            <span>프로젝트 한줄 설명</span>
                            <div>
                                <a>View</a>
                                <a>Github</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <em>Toy Project3</em>
                        </div>
                        <div>
                            <span>프로젝트 한줄 설명</span>
                            <div>
                                <a>View</a>
                                <a>Github</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section>
            <div>
                <span>Contact</span>
            </div>
        </section>

    </content>
    <br>
    <footer>
        <div>
            @2021 권윤경 all right reserved.
        </div>
    </footer>
</body>

</html>