<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/includeHTML.js"></script>
    <link rel='stylesheet' type="text/css" href='/stylesheets/base.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/home.css' />

    <title>Portfolio</title>
</head>
<body>
    <header include-html="./header.html"></header>
    <content>
        <section class="home-content">
            <div class="content-title">
                <span>Home</span>
            </div>
            <div>
                추후 title 사진 및 txt로 변경 예정
            </div>
        </section>

        <section class="profile-content">
            <div class="content-title">
                <span>Profile</span>
            </div>
            <div id="frontend">
                <h3>Frontend</h3>
                <div class="skill-block">
                    <div>
                        <img src="/image/html.png">
                    </div>
                    <div>
                        <img src="/image/css.png">
                    </div>
                    <div>
                        <img src="/image/javascript.png">
                    </div>
                    <div>
                        <img src="/image/pug.png">
                    </div>
                </div>
            </div>
            <div id="backend">
                <h3>Backend</h3>
                <div class="skill-block">
                    <div>
                        <img src="/image/nodeJS.png">
                    </div>
                    <div>
                        <img src="/image/express.png">
                    </div>
                    <div>
                        <img src="/image/mongoDB.png">
                    </div>
                </div>
            </div>
        </section>
        
        <section class="porject-content">
            <div class="content-title">
                <span>Projects</span>
            </div>
            <div>
                <ul class="project-box">
                    <li class="project-block">
                        <div class="project-title">
                            <em>Wetube</em>
                        </div>
                        <div>
                            <span>프로젝트 한줄 설명</span>
                            <div class="project-btn">
                                <a class="btn" href="#views">View</a>
                                <a class="btn" href="#github">Github</a>
                            </div>
                        </div>
                    </li>
                    <li class="project-block">
                        <div class="project-title">
                            <em>Toy Project1</em>
                        </div>
                        <div>
                            <span>프로젝트 한줄 설명</span>
                            <div class="project-btn">
                                <a class="btn" href="#views">View</a>
                                <a class="btn" href="#github">Github</a>
                            </div>
                        </div>
                    </li>
                    <li class="project-block">
                        <div class="project-title">
                            <em>Toy Project2</em>
                        </div>
                        <div>
                            <span>프로젝트 한줄 설명</span>
                            <div class="project-btn">
                                <a class="btn" href="#views">View</a>
                                <a class="btn" href="#github">Github</a>
                            </div>
                        </div>
                    </li>
                    <li class="project-block">
                        <div class="project-title">
                            <em>Toy Project3</em>
                        </div>
                        <div>
                            <span>프로젝트 한줄 설명</span>
                            <div class="project-btn">
                                <a class="btn" href="#views">View</a>
                                <a class="btn" href="#github">Github</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section class="contact-content">
            <div class="content-title">
                <span>Contact</span>
            </div>
        </section>

    </content>
    <br>
    <footer include-html="./footer.html"></footer>
</body>

<script>
    includeHTML();
</script>

</html>