<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="./js/script.js" defer></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <link rel='stylesheet' type="text/css" href='/stylesheets/home.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <title>Portfolio</title>
</head>
<body>
    <header class="header-class">
        <div class="header_wrap">
            <h1 class="header_title">
                    <a href="#">Hello, Portfolio World</a>
            </h1>
            <nav class="gnb">
                <h2 class="main_menu">메인메뉴</h2>
                <ul class = "gnb_list">
                    <li class="btn">
                        <a href="#home" data-tabnum="0">Home</a>
                    </li>
                    <li class="btn">
                        <a href="#profile" data-tabnum="1">Profile</a>
                    </li>
                    <li class="btn">
                        <a href="#project" data-tabnum="2">Project</a>
                    </li>
                    <li class="btn">
                        <a href="#contact" data-tabnum="3">contact</a>
                    </li>
                </ul>
            </nav>
            <div class="btn_hamburger">
                <button id="burger_icon">
                    <!--icon url: https://icons8.com/icons/set/x-->
                    <img src="/image/hamburger2.png" width="35" height="35">
                </button>
                <button id="close_icon">
                    <img src="/image/close.png" width="35" height="35">
                </button>
            </div>
        </div>
    </header>
    
    <content class="content-class">
        <section class="home content">
            <div class="container">
                <div class="content_title">
                    <span>Home</span>
                </div>
                <div class="home_right"></div>
                <div class="home_left">
                    안녕하세요,프론트엔드 개발자 권윤경입니다.
                </div>
            </div>
        </section>

        <section class="profile content">
            <div class="container">
                <div class="content_title2">
                    <span>Profile</span>
                </div>
               <div class="introduce">
                    안녕하세요.프론트엔트 개발자 권윤경입니다.
                    성장해 나가는 모습 보여드리겠습니다. 감사합니다. :-)
               </div>
                <div class="content_title2">
                    <span>Skill</span>
                </div>
                <div class="front_skills">
                    <h3>Front-end</h3>
                    <div class="skill_block">
                        <div>
                            <span class="html5"></span>
                            <p>HTML5</p>
                        </div>
                        <div>
                            <span class="css3"></span>
                            <p>CSS3</p>
                        </div>
                        <div>
                            <span class="js"></span>
                            <p>Javascript</p>
                        </div>
                        <div>
                            <span class="pug"></span>
                            <p>PUG</p>
                        </div>
                    </div> 
                </div>
                <div class="line"></div>
                <div class="back_skills">
                    <h3>Back-end</h3>
                    <div class="skill_block">
                        <div>
                            <span class="nodeJS"></span>
                            <p>NodeJS</p>
                        </div>
                        <div>
                            <span class="express"></span>
                            <p>Express</p>
                        </div>
                        <div>
                            <span class="mongoDB"></span>
                            <p>MongoDB</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
        
        <section class="project content">
            <div class="container">
                <div class="content_title2">
                    <span>Projects</span>
                </div>
                <div class="project_block">
                    <ul>
                        <li>
                            <div class="project_title">
                                <em>Wetube</em>
                            </div>
                            <div class="project_review">
                                <div class="project_txt">
                                    프로젝트 한줄 설명
                                </div>
                                <div class="project_button">
                                    <a href="#">View</a>
                                    <a href="#">Github</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="project_title">
                                <em>Toy Project1</em>
                            </div>
                            <div class="project_review">
                                <div class="project_txt">
                                    프로젝트 한줄 설명
                                </div>
                                <div class="project_button">
                                    <a>View</a>
                                    <a>Github</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="project_title">
                                <em>Toy Project2</em>
                            </div>
                            <div class="project_review">
                                <div class="project_txt">
                                    프로젝트 한줄 설명
                                </div>
                                <div class="project_button">
                                    <a>View</a>
                                    <a>Github</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="project_title">
                                <em>Toy Project3</em>
                            </div>
                            <div class="project_review">
                                <div class="project_txt">
                                    프로젝트 한줄 설명
                                </div>
                                <div class="project_button">
                                    <a>View</a>
                                    <a>Github</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="project_title">
                                <em>Toy Project4</em>
                            </div>
                            <div class="project_review">
                                <div class="project_txt">
                                    프로젝트 한줄 설명
                                </div>
                                <div class="project_button">
                                    <a>View</a>
                                    <a>Github</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="project_title">
                                <em>Toy Project5</em>
                            </div>
                            <div class="project_review">
                                <div class="project_txt">
                                    프로젝트 한줄 설명
                                </div>
                                <div class="project_button">
                                    <a>View</a>
                                    <a>Github</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="contact content">
            <div class="container">
                <div class="content_title2">
                    <span>Contact</span>
                </div>
                <form class="form">
                    <input type="" name="" placeholder="Name">
                    <input type="" name="" placeholder="Email">
                    <input type="" name="" placeholder="Message">
                </form>
                <div class="send_btn">
                    <button type="button">Send</button>
                </div>
            </div>
        </section>

    </content>
    <br>
    <footer>
        <div>
            @2021 권윤경 all right reserved.
        </div>
    </footer>
</body>

</html>