:root {
    --navbar-height: 60px;
    --white:#fff;
}
ul li {
    float:left;
    list-style: none;
    text-decoration: none;
}
a{
    outline-style: none;
    text-decoration: none;
}
ul li h1{
    margin:0;
    padding:0;
}
button{
    border:0;
    outline: 0;
    cursor: pointer;
    background-color: transparent;
}
/*header*/
@media (max-width: 700px){
    .gnb{
        display: none;
    }
}
@media (min-width: 700px){
    .btn_hamburger {
        display: none;
    }
}
.header-class{
    top:0;
    left:0;
    right:0;
    width:100%;
    z-index:100;
    position:fixed;
    background-color:var(--white);
}
.header_wrap{
    width:90%;
    height:60px;
    margin:0 auto;
}
.header_title{ 
    width:30%;
    height:24px;
    margin:0;
    float:left;
    display:block;
    font-size: 15px;
    padding-top:20px;
}
.gnb{
    float: right;
    text-align: center;
}
.main_menu{
    display: none;
}
.gnb_list{
    margin:0;
    padding:20px 0 0 0;
    display: inline-block;
}
.btn a{
    padding: 0 15px;
    line-height: 24px;
}
.btn_hamburger{
    padding-top:10px;
    float: right;
}
.hamburger_slide{
    width: 100%;
    margin: 0;
    position: absolute;
    top: var(--navbar-height);
    left:0;
    right:0;
    background-color:var(--white);
    display: none;
}
.inner_gnb ul {
    margin:0;
}
.inner_gnb ul li{
    float:none;
}

#burger_icon{
    display: block;
}

#close_icon{
    display: none;
}

/*content*/