:root {
    --navbar-height: 58px;
    --white:#fff;
    --black:#000;
}
body{
    font-family: 'Source Sana Pro';
}
ul li {
    list-style: none;
    text-decoration: none;
}
a{
    color: var(--black);
    outline-style: none;
    text-decoration: none;
}
ul li h1{
    margin:0;
    padding:0;
}
button{
    border:0;
    outline: 0;
    cursor: pointer;
    background-color: transparent;
}
/*header*/
@media screen and (max-width: 768px){
    .header_wrap{
        flex-direction: column;
        align-items: flex-start;
    }
    .gnb{
        width: 100%;
        display: none;
    }
    .gnb_list{
        flex-direction: column;
    }
    .gnb_list li{
        text-align: center;
    }    
    #burger_icon{
        display: block;
    }
    #close_icon{
        display: none;
    }

    .gnb.active, #close_icon.active{
        display: block;
    }
    #burger_icon.active{
        display: none;
    }

}
@media (min-width: 768px){
    .btn_hamburger{
        display: none;
    }
}
.header-class{
    top:0;
    left:0;
    right:0;
    width:100%;
    z-index:100;
    position:fixed;
    background-color:var(--white);
}
.header_wrap{
    display: flex;
    padding: 8px 12px; 
    justify-content: space-between;
}
.header_title{
    padding-top: 10px;
    margin: 0;
    font-size: 20px;
}
.gnb{
    font-size: 18px;
}
.main_menu{
    display: none;
}
.gnb_list{
    margin:0;
    padding-left:0;
    display: flex;
}
.gnb_list li{
    padding:8px 12px;
}
.gnb_list li>a:hover{
    color:plum;
}
.btn_hamburger{
    right:32px;
    position: absolute;
}

/*content*/
.content-class section{
    display:none;
    padding-top: var(--navbar-height);
}
.content-class .content:first-child {
    display: block;
}
.content_title{
    display: none;
}