:root {
    --navbar-height: 58px;
    --white:#fff;
    --black:#000;
    --blue:rgb(35,102,246);
    --navy:rgb(26,31,39);
    --gray: rgb(177,184,192);
}
body{
    font-family: 'Source Sana Pro';
    margin:0;
    padding:0;
}
ul li {
    list-style: none;
    text-decoration: none;
}
a{
    color: var(--black);
    outline-style: none;
    text-decoration: none;
}
ul li h1{
    margin:0;
    padding:0;
}
button{
    border:0;
    outline: 0;
    cursor: pointer;
    background-color: transparent;
}
/*header*/
@media screen and (max-width: 768px){
    .header_wrap{
        flex-direction: column;
        align-items: flex-start;
    }
    .gnb{
        width: 100%;
        display: none;
    }
    .gnb_list{
        flex-direction: column;
    }
    .gnb_list li{
        text-align: center;
    }    
    #burger_icon{
        display: block;
    }
    #close_icon{
        display: none;
    }

    .gnb.active, #close_icon.active{
        display: block;
    }
    #burger_icon.active{
        display: none;
    }

}
@media (min-width: 768px){
    .btn_hamburger{
        display: none;
    }
}
.header-class{
    top:0;
    left:0;
    right:0;
    width:100%;
    z-index:100;
    position:fixed;
    background-color:var(--white);
}
.header_wrap{
    display: flex;
    padding: 8px 12px; 
    justify-content: space-between;
}
.header_title{
    padding-top: 10px;
    margin: 0;
    font-size: 20px;
}
.gnb{
    font-size: 18px;
}
.main_menu{
    display: none;
}
.gnb_list{
    margin:0;
    padding-left:0;
    display: flex;
}
.gnb_list li{
    padding:8px 12px;
}
.gnb_list li>a:hover{
    color: var(--blue);
}
.btn_hamburger{
    right:32px;
    position: absolute;
}

/*content*/
.content-class section{
    display:none;
    padding-top: var(--navbar-height);
}
.content-class .content:first-child {
    display: block;
}
.content_title{
    display: none;
}
/**home content**/
@media (max-width: 1000px){
    .home_right{
        float:none;
        width:100%;
        height:360px;
        margin:0 auto;
    }
    .home_left{
        float:none;
        width:100%;
        margin:0 auto;
    }
}
.home{
    width:100%;
    height:950px;
}
.home_right{
    float:right;
    width:40%;
    height:400px;
    background: url(../image/gyg_1.png) no-repeat center;
}
.home_left{
    float:left;
    width:60%;
    height:400px;
    text-align: center;
    padding-top:150px;
}

/*footer*/
footer{
    float:left;
    width: 100%;
    height:80px;
    background-color: var(--navy);
    color: var(--gray);
}